.env
.DS_Store
.vscode

# The directories are now symlinks because the home partition is too small and the work partition is read-only. They point to the container partition now. 
target
logs
threads
python_pickles
rw_dir 

# I keep the testing notebook the same between version unless something changes
testing_copy.ipynb

# The pytest-tui is very nice, but it generates some files
tui_files

# Python caches for the tests are binary and it doesn't make sense to keep them in the repo
__pycache__