Cartopy==0.23.0
certifi==2024.7.4
cftime==1.6.4
contourpy==1.2.1
cycler==0.12.1
dnf==4.21.0
fonttools==4.53.1
kiwisolver==1.4.5
libcomps==0.1.20
libdnf==0.73.2
matplotlib==3.9.2
netCDF4==1.7.1.post2
numpy==2.1.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pyparsing==3.1.2
pyproj==3.6.1
pyshp==2.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
rpm==4.19.1.1
shapely==2.0.5
six==1.16.0
tzdata==2024.1
xarray==2024.7.0